<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Feedling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Feedling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<userSettings>
		<Feedling.Properties.Settings>
   <setting name="FeedConfigItems" serializeAs="String">
    <value />
   </setting>
   <setting name="CallUpgrade" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ProxyType" serializeAs="String">
    <value />
   </setting>
   <setting name="ProxyHost" serializeAs="String">
    <value />
   </setting>
   <setting name="ProxyPort" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ProxyAuth" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ProxyUser" serializeAs="String">
    <value />
   </setting>
   <setting name="ProxyPass" serializeAs="String">
    <value />
   </setting>
   <setting name="DefaultFeedColorR" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DefaultTitleFontFamily" serializeAs="String">
    <value>Microsoft Sans Serif, 15.75pt</value>
   </setting>
   <setting name="DefaultFeedHoverColorR" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DefaultFontFamily" serializeAs="String">
    <value>Microsoft Sans Serif, 8.25pt</value>
   </setting>
   <setting name="DefaultFontWeight" serializeAs="String">
    <value />
   </setting>
   <setting name="DefaultTitleFontWeight" serializeAs="String">
    <value />
   </setting>
   <setting name="DefaultFontStyle" serializeAs="String">
    <value />
   </setting>
   <setting name="DefaultTitleFontStyle" serializeAs="String">
    <value />
   </setting>
   <setting name="DefaultFontSize" serializeAs="String">
    <value>12</value>
   </setting>
   <setting name="DefaultTitleFontSize" serializeAs="String">
    <value>16</value>
   </setting>
   <setting name="DefaultFeedColorG" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DefaultFeedColorB" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DefaultFeedHoverColorG" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DefaultFeedHoverColorB" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NotifyOnNewFeedItem" serializeAs="String">
    <value>False</value>
   </setting>
  </Feedling.Properties.Settings>
	</userSettings>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
 <applicationSettings>
  <Feedling.Properties.Settings>
   <setting name="ApplicationUpdateUrl" serializeAs="String">
    <value>http://feedling.net/UpdateVersion.txt</value>
   </setting>
   <setting name="GridWidth" serializeAs="String">
    <value>5</value>
   </setting>
  </Feedling.Properties.Settings>
 </applicationSettings>
</configuration>
